[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/librairy/notebooks/blob/master/Intro_TopicModels.ipynb)

This Google Colab Notebook serves as an introduction to Probabilistic Topic Models. 

Textual data can be loaded from a Google Sheet and topics derived from  LDA can be generated. 

First, it is necessary to indicate the training google sheet and the number of words to show per topic.

In [0]:
#@title Google Colab Authentication
!pip install --upgrade -q gspread
#!pip install -q gensim

from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import NMF, LatentDirichletAllocation
import numpy as np



def display_topics(H, W, feature_names, documents, no_top_words, no_top_documents):
    for topic_idx, topic in enumerate(H):
        print("-"*30)
        print(" Topic ",(topic_idx)," :")
        print("["," | ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]),"]")
        top_doc_indices = np.argsort( W[:,topic_idx] )[::-1][0:no_top_documents]
        for doc_index in top_doc_indices:
            print("(",doc_index+2,")",documents[doc_index][:100]," ...")
            print("\t",W[doc_index])

In [43]:
#@title Load and preview data from a Google Sheet

corpus = 'texts' #@param {type:"string"}
preview = 10 #@param {type:"integer"}


gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open(corpus).sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# convert the 2nd column values to a list
documents = []
for row in rows[1:]:
  documents.append(row[1])
  
#print(documents)

# Convert to a DataFrame and render.
import pandas as pd
dataset_df = pd.DataFrame.from_records(rows)
dataset_df.head(n=preview)

    0                                                  1
0   1  Dean J. Falcione (posting from jrmst+8@pitt.ed...
1   2  In article <1993Mar29.190650.28940@ramsey.cs.l...
2   3  I can only comment on the Kings, but the most ...
3   4  In article <C4zCII.Ftn@watserv1.uwaterloo.ca> ...
4   5                               Maine beat LSSU 5-4.
5   6  Well, I gotta tell ya, last night's Leafs game...
6   7  >The shirts are believe or not from a Bob Prob...
7   8  Lake State/Maine in finals...WHO WON?   Please...
8   9  Also sprach slegge@kean.ucs.mun.ca ... >TSN Sp...
9  10  In article <C4zHJ1.7xB@idacom.hp.com> andrew@i...

Tokenize input data:

In [44]:
#@title Tokenization

tf_vectorizer = CountVectorizer(
    stop_words=None,
    min_df=1,
    max_df=0.95,
    lowercase=False,
    ngram_range=(1,1),
    analyzer = 'word'
)
tf = tf_vectorizer.fit_transform(documents)
tf_feature_names = tf_vectorizer.get_feature_names()
vocab = tf_vectorizer.vocabulary_

print("Vocabulary Size: ", len(tf_feature_names))

Vocabulary Size:  5189

Now it's time to build a topic model by setting values for:
- number of topics
- alpha
- beta

In [48]:
#@title Run LDA

topics = 10 #@param {type:"integer"}

alpha = 0.1 #@param {type:"number"}

beta = 0.01 #@param {type:"number"}

no_top_words = 5

no_top_documents = 3


# Run LDA
lda_model = LatentDirichletAllocation(
    n_components=topics, 
    doc_topic_prior=alpha, 
    topic_word_prior=beta, 
    max_iter=20, 
    learning_method='online', 
    learning_offset=50.,
    random_state=0).fit(tf)
lda_W = lda_model.transform(tf)
lda_H = lda_model.components_

print("LDA Topics")
display_topics(lda_H, lda_W, tf_feature_names, documents, no_top_words, no_top_documents)

LDA Topics
------------------------------
 Topic  0  :
[ the | to | Biggest | and | in ]
( 5 ) Maine beat LSSU 5-4.  ...
	 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
( 8 ) Lake State/Maine in finals...WHO WON?   Please post.  ...
	 [0.01000009 0.01000019 0.08505583 0.01000025 0.83494263 0.01000036
 0.01000009 0.01000021 0.01000019 0.01000015]
( 27 ) ktgeiss@miavx1.acs.muohio.edu writes: > Lake State/Maine in finals...WHO WON?   Please post. Maine 5  ...
	 [0.00588241 0.00588245 0.15394474 0.00588248 0.79899565 0.00588245
 0.00588242 0.00588245 0.00588252 0.00588243]
------------------------------
 Topic  1  :
[ Rangers | Hartford | the | Amonte | Turcotte ]
( 78 ) Hartford                         1 1 3--5 NY Rangers                       1 2 1--4 First period      ...
	 [0.0009804  0.74982755 0.12890367 0.00098041 0.00098041 0.11440593
 0.00098041 0.00098041 0.0009804  0.0009804 ]
( 80 ) x - Clinched Division Title y - Clinched Playoff Berth Hartford Whalers   (24-49-5)   1   1   3   -   ...
	 [0.0009091  0.60927162 0.00090944 0.00090911 0.00090911 0.38345518
 0.00090911 0.00090911 0.00090911 0.00090911]
( 5 ) Maine beat LSSU 5-4.  ...
	 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
------------------------------
 Topic  2  :
[ the | to | and | of | in ]
( 65 ) The FLYERS team that can beat any team on any night showed up at the Spectrum Sunday night, and domi  ...
	 [5.04812643e-05 5.04816921e-05 9.99545650e-01 5.04815239e-05
 5.04812880e-05 5.04981901e-05 5.04814232e-05 5.04815407e-05
 5.04814403e-05 5.04813675e-05]
( 74 ) In article <rauser.734062608@sfu.ca> rauser@fraser.sfu.ca (Richard John Rauser) writes: >   Ten year  ...
	 [1.69495784e-04 1.69496300e-04 9.98474533e-01 1.69496482e-04
 1.69495692e-04 1.69498592e-04 1.69495616e-04 1.69496673e-04
 1.69495905e-04 1.69495676e-04]
( 18 ) In <1993Apr5.182124.17415@ists.ists.ca> dchhabra@stpl.ists.ca (Deepak Chhabra) writes: >Dean J. Falc  ...
	 [1.82157116e-04 1.82157828e-04 9.98360578e-01 1.82157514e-04
 1.82157062e-04 1.82162864e-04 1.82157099e-04 1.82158181e-04
 1.82157027e-04 1.82157607e-04]
------------------------------
 Topic  3  :
[ the | dg | Wayne | and | rtp ]
( 73 ) Could anyone recommend a mail order distributor for hockey equipment.     Thanks in Advance     Wayn  ...
	 [0.00357151 0.00357152 0.09634708 0.87508074 0.00357151 0.00357161
 0.0035715  0.00357152 0.00357151 0.00357151]
( 5 ) Maine beat LSSU 5-4.  ...
	 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
( 8 ) Lake State/Maine in finals...WHO WON?   Please post.  ...
	 [0.01000009 0.01000019 0.08505583 0.01000025 0.83494263 0.01000036
 0.01000009 0.01000021 0.01000019 0.01000015]
------------------------------
 Topic  4  :
[ Maine | Lake | WHO | post | WON ]
( 55 ) ktgeiss@miavx1.acs.muohi writes: >Lake State/Maine in finals...WHO WON?   Please post. Maine 5, LSSU  ...
	 [0.00555563 0.00555566 0.06564518 0.0055557  0.8899094  0.00555569
 0.00555562 0.00555568 0.0055558  0.00555565]
( 8 ) Lake State/Maine in finals...WHO WON?   Please post.  ...
	 [0.01000009 0.01000019 0.08505583 0.01000025 0.83494263 0.01000036
 0.01000009 0.01000021 0.01000019 0.01000015]
( 27 ) ktgeiss@miavx1.acs.muohio.edu writes: > Lake State/Maine in finals...WHO WON?   Please post. Maine 5  ...
	 [0.00588241 0.00588245 0.15394474 0.00588248 0.79899565 0.00588245
 0.00588242 0.00588245 0.00588252 0.00588243]
------------------------------
 Topic  5  :
[ 55 | 11 | 10 | 18 | 68 ]
( 81 ) Here are the standings after the April 6 update.  I'll be leaving for Japan in 1.5 hours, and I won'  ...
	 [5.60554536e-05 5.60559741e-05 5.60622133e-05 5.60556211e-05
 5.60555915e-05 9.99495493e-01 5.60555875e-05 5.60555943e-05
 5.60555656e-05 5.60555166e-05]
( 82 ) Here is the price list for the week April 6 to April 12.  - Andrew Buy Sell Pts Team Player 157.5 14  ...
	 [8.05164723e-05 8.05166833e-05 8.05191974e-05 8.05164674e-05
 8.05164648e-05 9.99275349e-01 8.05166319e-05 8.05164978e-05
 8.05164540e-05 8.05164790e-05]
( 70 ) Scoring stats for the Swedish NHL players, April 5:  Mats Sundin watch:    Most points during a seas  ...
	 [1.76059053e-04 1.76062670e-04 1.76083232e-04 1.76059437e-04
 1.76059880e-04 9.98415438e-01 1.76059675e-04 1.76059279e-04
 1.76059247e-04 1.76059159e-04]
------------------------------
 Topic  6  :
[ 55 | the | and | to | of ]
( 5 ) Maine beat LSSU 5-4.  ...
	 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
( 8 ) Lake State/Maine in finals...WHO WON?   Please post.  ...
	 [0.01000009 0.01000019 0.08505583 0.01000025 0.83494263 0.01000036
 0.01000009 0.01000021 0.01000019 0.01000015]
( 27 ) ktgeiss@miavx1.acs.muohio.edu writes: > Lake State/Maine in finals...WHO WON?   Please post. Maine 5  ...
	 [0.00588241 0.00588245 0.15394474 0.00588248 0.79899565 0.00588245
 0.00588242 0.00588245 0.00588252 0.00588243]
------------------------------
 Topic  7  :
[ the | to | of | and | that ]
( 5 ) Maine beat LSSU 5-4.  ...
	 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
( 8 ) Lake State/Maine in finals...WHO WON?   Please post.  ...
	 [0.01000009 0.01000019 0.08505583 0.01000025 0.83494263 0.01000036
 0.01000009 0.01000021 0.01000019 0.01000015]
( 27 ) ktgeiss@miavx1.acs.muohio.edu writes: > Lake State/Maine in finals...WHO WON?   Please post. Maine 5  ...
	 [0.00588241 0.00588245 0.15394474 0.00588248 0.79899565 0.00588245
 0.00588242 0.00588245 0.00588252 0.00588243]
------------------------------
 Topic  8  :
[ the | LSSU | Maine | beat | to ]
( 5 ) Maine beat LSSU 5-4.  ...
	 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
( 8 ) Lake State/Maine in finals...WHO WON?   Please post.  ...
	 [0.01000009 0.01000019 0.08505583 0.01000025 0.83494263 0.01000036
 0.01000009 0.01000021 0.01000019 0.01000015]
( 27 ) ktgeiss@miavx1.acs.muohio.edu writes: > Lake State/Maine in finals...WHO WON?   Please post. Maine 5  ...
	 [0.00588241 0.00588245 0.15394474 0.00588248 0.79899565 0.00588245
 0.00588242 0.00588245 0.00588252 0.00588243]
------------------------------
 Topic  9  :
[ the | and | in | of | on ]
( 5 ) Maine beat LSSU 5-4.  ...
	 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
( 8 ) Lake State/Maine in finals...WHO WON?   Please post.  ...
	 [0.01000009 0.01000019 0.08505583 0.01000025 0.83494263 0.01000036
 0.01000009 0.01000021 0.01000019 0.01000015]
( 27 ) ktgeiss@miavx1.acs.muohio.edu writes: > Lake State/Maine in finals...WHO WON?   Please post. Maine 5  ...
	 [0.00588241 0.00588245 0.15394474 0.00588248 0.79899565 0.00588245
 0.00588242 0.00588245 0.00588252 0.00588243]

Get Topic Distributions:

In [49]:
#@title Topic Distributions


print("Topic Distributions: ")

bounds = (0,5)
tds = lda_model.transform(tf[bounds[0]:bounds[1]])
for x in range(bounds[0],bounds[1]):
  print("Doc",x,tds[x])

Topic Distributions:
Doc 0 [3.42472944e-04 3.42474341e-04 9.96917737e-01 3.42474380e-04
 3.42473456e-04 3.42473470e-04 3.42473104e-04 3.42474792e-04
 3.42473294e-04 3.42473269e-04]
Doc 1 [5.29122340e-04 5.29129635e-04 9.95237882e-01 5.29127051e-04
 5.29122158e-04 5.29126909e-04 5.29121516e-04 5.29124067e-04
 5.29121323e-04 5.29122886e-04]
Doc 2 [0.00119051 0.00119051 0.98928541 0.00119051 0.00119051 0.0011905
 0.00119051 0.00119051 0.00119051 0.00119051]
Doc 3 [0.02500072 0.02500046 0.02500464 0.02500077 0.02501747 0.02500023
 0.02500064 0.02500061 0.77497393 0.02500053]
Doc 4 [3.50893495e-04 3.50894558e-04 9.96841946e-01 3.50894216e-04
 3.50893683e-04 3.50899034e-04 3.50893747e-04 3.50893998e-04
 3.50895423e-04 3.50896102e-04]

Get topics for a given  sample:

In [0]:
#@title Inference

text = "this is an example" #@param {type:"string"}

print("Topic Distribution: ", lda_model.transform(tf_vectorizer.transform([text])))